---
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/ui/Navbar.astro";
import MainHead from "./MainHead.astro";
import whatsappIcon from '../assets/icons/icons8-whatsapp-64.png'; // Asegúrate de tener este ícono en tu proyecto

const { ...props } = Astro.props;
---

<html lang="en">
  <MainHead {...props} />
  <style>
    html.lenis {
      height: auto;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
    .lenis.lenis-stopped {
      overflow: hidden;
    }
    
    .whatsapp-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      z-index: 1000;
    }

    .whatsapp-icon img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  </style>
  <script src="../utils/lenis"></script>
  <body>
    <main>
      <Navbar />
      <slot />
      <Footer />
    </main>

    <!-- Ícono de WhatsApp fijo en la esquina -->
    <a href="https://wa.me/543385590390" class="whatsapp-icon" target="_blank" rel="noopener noreferrer">
      <img src={whatsappIcon.src} alt="WhatsApp" />
    </a>    
  </body>
</html>
