---
// Importar el componente AccordionItem
import AccordionItem from "./AccordionItem.astro";

const content = [
  {
    index: 1,
    title: "Consulta Inicial",
    description:
      "Se contactan con nosotros mediante el formulario, o por WhatsApp o por redes. Entendemos sus necesidades y enviamos un PDF con las preguntas.",
  },
  {
    index: 2,
    title: "Planificación",
    description:
      "Coordinamos una reunión para charlar sobre los requerimientos del cliente y se pasa el presupuesto.",
  },
  {
    index: 3,
    title: "Ejecución",
    description:
      "Empezamos el desarrollo.",
  },
  {
    index: 4,
    title: "Reunión de Avances",
    description:
      "Nueva reunión para ver los avances y aplicar modificaciones.",
  },
  {
    index: 5,
    title: "Lanzamiento a Producción",
    description:
      "Lanzamos el desarrollo.",
  },
];
---

<div>
  {content.map((item) => (
    <AccordionItem
      key={item.index}
      index={item.index}
      title={item.title}
      description={item.description}
    />
  ))}
</div>
